{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '%kernel.root_dir%/../vendor/eyecon/bootstrap-colorpicker/less/*.less' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}        

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'features'} %} 
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->

        <div class="span9">
            <form action="{{ path('feature_update', { 'id': feature.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('feature_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '%kernel.root_dir%/../vendor/eyecon/bootstrap-colorpicker/js/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $("#neblion_scrumbundle_featuretype_color").colorpicker({
            format: 'hex'
        });
    </script>
{% endblock javascripts %}



