{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '%kernel.root_dir%/../vendor/eyecon/bootstrap-colorpicker/less/*.less' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}     

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'features'} %} 
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Project description'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div><!--/span-->
    
        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Feature creation'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <form action="{{ path('feature_create', { 'id': project.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> {{ 'Create'|trans }}</button>
                            <a class="btn btn-primary" href="{{ path('feature_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div><!--widget-box-->
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '%kernel.root_dir%/../vendor/eyecon/bootstrap-colorpicker/js/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $("#neblion_scrumbundle_featuretype_color").colorpicker({
            format: 'hex'
        });
    </script>
{% endblock javascripts %}


