{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ app.user.username }}</h5>
                </div>
                <div class="widget-content">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{{ path('profile_edit') }}">{{ 'Profile'|trans }}</a></li>
                        <li class="active"><a href="{{ path('profile_username_email') }}">{{ 'Username and email'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Username and email'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <form action="{{ path('fos_user_profile_edit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                            <a class="btn btn-primary" href=""><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}
