{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->
    
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navbar-sprint.html.twig' with { 'sprint': sprint, 'active': 'review'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>sprint infos</p>
        </div>

        <div class="span9">
            {% for story in stories %}
                <div class="review-story">
                    <h2>{{ story.name }} Estimate: {{ story.estimate }} Status: {% if story.status.id == 3 %}Done{% else %}Not done{% endif %}</h2>
                    {% set form = forms[story.id] %}
                    {% if story.review.id is defined %}
                        <form action="{{ path('review_update', { 'id': story.review.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                    {% else  %}
                        <form action="{{ path('review_create', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    {% endif %}
                    </form>
                </div>
            {% endfor %}
        </div>
    </div><!--/row-->   
{% endblock body %}
