{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->
    
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navbar-sprint.html.twig' with { 'sprint': sprint, 'active': 'review'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            {% include 'NeblionScrumBundle:Sprint:partial-sprint-left-col.html.twig' with { 'sprint': sprint } %}
        </div>

        <div class="span9">
            {% for story in stories %}
                <div class="widget-box review-story">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-file"></i></span>
                        <h5>{{ 'Review'|trans }}: {{ story.name }}</h5>
                    </div>
                        
                    <div class="widget-content">
                        <p><strong>{{ 'Story description'|trans }}:</strong> {{ story.description }}</p>
                        <p><span class="badge badge-info">{{ 'Effort'|trans }}: {{ story.estimate }}</span> {% if story.status.id == 3 %}<span class="badge badge-success">{{ 'Done'|trans}}{% else %}<span class="badge badge-important">{{ 'Not done'|trans }}{% endif %}</span></p>
                        {% if member.role.id == 1 or member.admin %}
                            {% set form = forms[story.id] %}
                            {% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}
                            {% if story.review.id is defined %}
                            <form action="{{ path('review_update', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                                {{ form_widget(form) }}
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                                </div>
                            {% else  %}
                                <form action="{{ path('review_create', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                                {{ form_widget(form) }}
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                                </div>
                            {% endif %}
                            </form>
                        {% else %}
                            {% if story.review.id is defined %}
                                <p>{{ story.review.comment }}</p>
                            {% else %}
                                <p>{{ 'There is no review comment for the time.'|trans }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!--/row-->   
{% endblock body %}
