{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Review creation:'|trans }} {{ project.name }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        
    </div><!--/span-->
    
    
    <div class="span9">
        <form action="{{ path('review_create', {'id': project.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
            </div>
        </form>
    </div><!--/span-->
</div><!--/row-->

{% endblock body %}
