{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'releases'} %} 
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Project description'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div><!--/span-->


        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Release deletion'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <div class="alert alert-danger">{{ 'Do you really want to delete this release: %release% ?'|trans({ '%release%': release.name }) }}</div>
                    <form action="{{ path('release_delete', { 'id': release.id }) }}" method="post" class="form-horizontal">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button id="submit" type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                            <a class="btn btn-primary" href="{{ path('release_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'No'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div><!--widget-box-->
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}



