{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@NeblionScrumBundle/Resources/public/css/ui-lightness/jquery-ui-1.9.0.custom.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}     

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'releases'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->
    
        <div class="span9">
            <form action="{{ path('release_update', { 'id': release.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('release_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

    {% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@NeblionScrumBundle/Resources/public/js/jquery-ui-1.9.0.custom.min.js'
        '@NeblionScrumBundle/Resources/public/js/i18n/jquery.ui.datepicker-fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $.datepicker.setDefaults($.datepicker.regional['fr']);
            //$.datepicker.setDefaults( $.datepicker.regional[ "" ] );
            // Datepicker
            $('.date-picker').datepicker( $.datepicker.regional[ "fr" ] );
            //$('.date-picker').datepicker();
        });
    </script>
{% endblock javascripts %}
