{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'releases'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->
    
        <div class="span9">
            <form action="{{ path('release_update', { 'id': release.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('release_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

