{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@NeblionScrumBundle/Resources/public/css/ui-lightness/jquery-ui-1.9.0.custom.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}     

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'releases'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Project description'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Release creation'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <form action="{{ path('release_create', { 'id': project.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button id="submit" type="submit" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> {{ 'Create'|trans }}</button>
                            <a class="btn btn-primary" href="{{ path('release_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@NeblionScrumBundle/Resources/public/js/jquery-ui-1.9.0.custom.min.js'
        '@NeblionScrumBundle/Resources/public/js/i18n/jquery.ui.datepicker-fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            // Datepicker
            $.datepicker.setDefaults($.datepicker.regional[""]);
            $('.date-picker').datepicker( $.datepicker.regional[ "{{ app.request.locale }}" ] );
        });
    </script>
{% endblock javascripts %}