{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Task delete:'|trans }} {{ project.name }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        {% include 'NeblionScrumBundle:Project:menu.html.twig' with {'project': project} %}
    </div><!--/span-->
    
    
    <div class="span9">
        <form action="{{ path('task_delete', { 'id': task.id }) }}" method="post">
            {{ form_widget(form) }}
            <button type="submit">{{ 'Delete'|trans }}</button>
        </form>
    </div><!--/span-->
</div><!--/row-->

{% endblock body %}



