{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Project description'|trans }}</h5>
               </div>
               <div class="widget-content">
                   <p>{{ project.description }}</p>
               </div>
           </div>
                
           <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Sprint'|trans }}: {{ task.story.sprint.name }}</h5>
               </div>
               <div class="widget-content">
                   <p>{{ task.story.sprint.description }}</p>
               </div>
           </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Delete a task'|trans }}</h5>
               </div>
               <div class="widget-content">
            
            <div class="alert alert-danger">{{ 'Do you really want to delete this task: %task% ?'|trans({ '%task%': task.name }) }}</div>
            <form action="{{ path('task_delete', { 'id': task.id }) }}" method="post">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('sprint_show', {'id': task.story.sprint.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'No'|trans }}</a>
                </div>
            </form>
            
            </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}



