<div class="task-box">
    <span class="task-box-owner">
        {% if task.member.account is defined %}
            {{ task.member.account.profile.firstname }} {{ task.member.account.profile.lastname }}
        {% endif %}
    </span>
    <span id="task-hours-{{ task.id }}" class="task-hours">{{ task.hour }}</span> => 
    <span id="task-hours-remaining-{{ task.id }}" class="task-hours-remaining">{% if task.remaining_hour is defined %}{{ task.remaining_hour }}{% else %}{{ task.hour }}{% endif %}</span>
    {% if task.status.id == 2 %}
        <a id="task-hours-upd-{{ task.id }}" class="task-hours" href="{{ path('task_hours', { 'id': task.id }) }}">{{ 'hours remaining'|trans }}</a>
    {% else %}
        {{ 'hours remaining'|trans }}
    {% endif %}
    
    <p><a href="#" rel="popover" data-content="{{ task.description }}" data-original-title="{{ 'Description'|trans }}">{{ task.name }}</a></p>
    
    {% if sprint.status.id != 3 %}
        <ul class="task-box-actions nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions <b class="caret"></b></a>
                <ul id="menu1" class="dropdown-menu">
                    {% if task.status.id == 2 %}
                        <li><a href="{{ path('task_set_done', { 'id': task.id } ) }}">{{ 'Set Done'|trans }}</a></li>
                    {% endif %}

                    {% if task.status.id == 3 %}
                        <li><a href="{{ path('task_set_inprogress', { 'id': task.id } ) }}">{{ 'Set In Progress'|trans }}</a></li>
                    {% endif %}

                    {% if task.status.id != 3 %}
                        <li><a href="{{ path('task_edit', { 'id': task.id } ) }}">{{ 'Update'|trans }}</a></li>
                        {% if task.member.id is not defined %}
                            <li><a href="{{ path('task_take', { 'id': task.id } ) }}">{{ 'Take'|trans }}</a></li>
                        {% elseif task.member.account.id != app.user.id %}
                            <li><a href="{{ path('task_take', { 'id': task.id } ) }}">{{ 'Take'|trans }}</a></li>
                        {% endif %}

                        {% if task.status.id == 1 %}
                            <li class="divider"></li>
                            <li><a href="{{ path('task_delete', { 'id': task.id } ) }}">{{ 'Delete'|trans }}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        </ul>
    {% endif %}
</div>