{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Sprint retro:'|trans }} </h1>
</div>

<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">
        <h2></h2>
        <form action="{{ path('retrospective_update', { 'id': retrospective.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Edit'|trans }}</button>
            </div>
        </form>
    </div>
</div><!--/row-->   

{% endblock body %}
