{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% block body %}
<div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p><strong>Description:</strong> {{ sprint.description }}</p>
        </div>

        <div class="span9">
            <div class="page-header">
                <h2>{{ 'Sprint retrospectives'|trans }}</h2>
            </div>

            {% for member in members %}
                <div class="review-story well">
                    <div class="review-header">
                        <img src="{{ gravatar(member.account.email, 60) }}" class="pull-left" />
                        <h2>{{ member.account.profile.firstname }} {{ member.account.profile.lastname }}</h2>
                        <h3>{{ member.role.name }}</h3>
                    </div>
                    {% if app.user.id == member.account.id %}
                        {% if retrospectives[member.account.id] is defined %}
                            <form action="{{ path('retrospective_update', { 'id': retrospectives[member.account.id].id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                            </form>
                        {% else %}
                            <form action="{{ path('retrospective_create', { 'id': sprint.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Create'|trans }}</button>
                            </form>
                        {% endif %}
                    {% else %}
                        {% if retrospectives[member.account.id] is defined %}
                            <p>{{ retrospectives[member.account.id].comment }}</p>
                        {% else %}
                            <p>no comment...</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div><!--/row-->   
{% endblock body %}
