{% extends '::base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Resetting request'|trans }}</h5>
                </div>
                <div class="widget-content">
                    
                </div>
            </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Resetting request'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div>
                            {% if invalid_username is defined %}
                                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                            {% endif %}
                            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="username" />
                        </div>
                        <div>
                            <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
