{% if nextSprint.stories %}
    <div id="nextsprint" class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-file"></i></span>
            <h5>{{ 'Next Sprint'|trans }}</h5>
        </div>
        <div class="widget-content">
            <ul id="next-sprint-stories" class="sprint-stories">
                {% set lastStory = 0 %}
                {% for story in nextSprint.stories %}
                    {% include 'NeblionScrumBundle:Story:story-backlog-partial.html.twig' with { 'story': story } %}
                    {% if loop.last %}
                        {% set lastStory = story.id %}
                    {% endif %}
                {% endfor %}
            </ul>
                
            <p><em>{{ 'Release'|trans }}: {{ projectRelease.name }} - {{ startOfNextSprint|date('d/m/Y') }} > {{ endOfNextSprint|date('d/m/Y') }} - {{ 'Duration'|trans }}: {{ sprintDuration }} {{ 'days'|trans }} - {{ 'Estimate'|trans }}: <span id="next-sprint-estimate" class="label label-info">{{ nextSprint.estimate }}</span></em></p>
            <p><a class="btn btn-success" id="start-next-sprint" href="{{ path('sprint_new', { 'id': project.id, 'story': lastStory }) }}"><i class="icon-plus-sign icon-white"></i> {{ 'Create next sprint'|trans }}</a></p>
        </div>
    </div>
{% endif %}
            
{% if backlog.stories is defined %}
    <div id="otherstories"  class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-file"></i></span>
            <h5>{{ 'Backlog'|trans }} - {{ 'Estimate'|trans }}: <span id="other-stories-estimate">{{ backlog.estimate }}</span></h5>
        </div>
        <div class="widget-content">
            <ul id="backlog-other-stories" class="sprint-stories">
                {% for story in backlog.stories %}
                    {% include 'NeblionScrumBundle:Story:story-backlog-partial.html.twig' with { 'story': story } %}
                {% endfor %}
            </ul>
            <p><a href="{{ path('story_new', { 'id': project.id }) }}" class="btn btn-success add-story"><i class="icon-plus-sign icon-white"></i> {{ 'Add a story'|trans }}</a></p>
        </div>
    </div>
{% endif %}
            
        