{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme edit_form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'edition'} %} 
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>Help....</p>
        </div><!--/span-->
        
        <div class="span9">
            <div class="page-header">
                <h1>{{ 'Project edition'|trans }}</h1>
            </div>
            
            <form action="{{ path('project_update', { 'id': project.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('project_show', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div><!--/span-->
    </div><!--/row-->

{% endblock body %}


