{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="row">
    <div class="span3">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-file"></i></span>
                <h5>{{ 'Help'|trans }}</h5>
            </div>
            <div class="widget-content">
                <p></p>
            </div>
        </div>
    </div><!--/span-->
    
    <div class="span9">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-file"></i></span>
                <h5>{{ 'Project creation'|trans }}</h5>
            </div>
            <div class="widget-content">
                <form action="{{ path('project_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                    {{ form_widget(form) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Create'|trans }}</button>
                        <a class="btn btn-primary" href="{{ path('project_list') }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                    </div>
                </form>
            </div>
        </div<!--widget-box-->      
    </div><!--/span-->
</div><!--/row-->
{% endblock body %}
