{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'team'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div>

        <div class="span9">
            {% if member.account.profile is defined %}
                <h2>{{ member.account.profile.firstname }} {{ member.account.profile.lastname }}</h2>
                <p>{{ member.account.username }}</p>
            {% else %}
                <h2>{{ member.account.username }}</h2>
            {% endif %}
            <form action="{{ path('member_update', { 'id': member.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('team_show', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div>
    </div><!--/row-->   
{% endblock body %}
