{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'team'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->

        <div class="span9">
            <table class="table table-striped table-bordered">
                <tbody>
                    {% for member in invitations %}
                        <tr>
                            <td>{{ member.sender.profile.firstname }} {{ member.sender.profile.lastname }} invit you to be a member of {{ member.team.project.name }} project.</td>
                            <td>
                                <a href="{{ path('member_invitation_accept', { 'id': member.id } ) }}" class="btn btn-success">{{ 'Accept'|trans }}</a>
                                <a href="{{ path('member_invitation_refuse', { 'id': member.id } ) }}" class="btn btn-danger">{{ 'Refuse'|trans }}</a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td colspan="3">{{ 'No invitation'|trans }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

