{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'team'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div>

        <div class="span9">
            <form action="{{ path('member_create', { 'id': team.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Invit member'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('team_show', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </div>
    </div><!--/row-->   
{% endblock body %}
