{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
{% include 'NeblionScrumBundle:Layout:breadcrumb.html.twig' with {'pathes': pathes} %}

<div class="page-header">
    <h1>{{ 'Member new:'|trans }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        {% include 'NeblionScrumBundle:Project:menu.html.twig' with {'project': project} %}
    </div>
        
    <div class="span9">
        <form action="{{ path('member_create', { 'id': team.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Invit member'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('team_show', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
            </div>
        </form>
    </div>
</div><!--/row-->   

{% endblock body %}
