{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'admin'} %}
            
        {% include 'NeblionScrumBundle:Layout:navbar-admin.html.twig' with { 'project': project, 'active': 'team'} %} 
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->

        <div class="span9">
            <div class="alert alert-warning">
                {% if member.account.profile is not null %}
                    <p>{{ 'Do you really want to remove this member'|trans }}: {{ member.account.profile.firstname }} {{ member.account.profile.lastname }} ({{ member.account.username }} / {{ member.role.name }}) ?</p>
                {% else %}
                    <p>{{ 'Do you really want to remove this member'|trans }}: {{ member.account.username }} ?</p>
                {% endif %}
            </div>

            <form action="{{ path('member_remove', { 'id': member.id }) }}" method="post">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Remove'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('team_show', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'No'|trans }}</a>
                </div>
            </form>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}



