{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ app.user.username }}</h5>
                </div>
                <div class="widget-content">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{{ path('profile_edit') }}">{{ 'Profile'|trans }}</a></li>
                        <li><a href="{{ path('profile_username_email') }}">{{ 'Username and email'|trans }}</a></li>
                        <li class="active"><a href="{{ path('fos_user_change_password') }}">{{ 'Change password'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-file"></i></span>
                    <h5>{{ 'Change password'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
