{% block form_rows %}
{% spaceless %}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error">{{ form_errors(form) }}</div>
    {% endif %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

{% block form_row %}
{% spaceless %}
    {% if form.vars.errors|length > 0 %}
        <div class="control-group error">
    {% else %}
        <div class="control-group">
    {% endif %}
    {{ form_label(form) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    </div>
{% endspaceless %}
{% endblock form_row %}                
                
{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': 'control-label'}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {% if required %}
            <span class="required" title="{{ 'This field is required'|trans }}">*</span>
        {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}
        
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li><span class="help-inline">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}