{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
{% include 'NeblionScrumBundle:Layout:breadcrumb.html.twig' with {'pathes': pathes} %}

<div class="page-header">
    <h1>{{ 'Sprint close'|trans }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        <p>Sprint infos</p>
    </div><!--/span-->
    
    
    <div class="span9">
        <p>Are you sure you want close this sprint ?</p>
        <p>Member could not edit their task and retrospective and sprint review edition will be close.</p>
        <p>Velocity will be {{ currentVelocity }} (max: {{ maxVelocity }}) stories done {{ storiesDone }} / {{ storiesTotal }}</p>
        <form action="{{ path('sprint_close', { 'id': sprint.id }) }}" method="post">
            {{ form_widget(form) }}
            <button type="submit">{{ 'Close'|trans }}</button>
        </form>
    </div><!--/span-->
</div><!--/row-->

{% endblock body %}



