{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel='stylesheet' href="{{ asset('bundles/neblionscrum/jquery-ui/css/ui-lightness/jquery-ui-1.8.21.custom.css') }}" />
{% endblock stylesheets %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>Help...</p>
        </div><!--/span-->

        <div class="span9">
            <form action="{{ path('sprint_update', { 'id': sprint.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                    <a class="btn btn-primary" href="{{ path('sprint_list', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                </div>
            </form>

                <div id="datepicker"></div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src={{ asset('bundles/neblionscrum/jquery-ui/js/jquery-ui-1.8.21.custom.min.js') }}></script>
    <script src={{ asset('bundles/neblionscrum/jquery-ui/js/jquery.ui.datepicker-fr.js') }}></script>
    
    <script type="text/javascript">
			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "" ] );
				// Datepicker
				$('.date-picker').datepicker( $.datepicker.regional[ "fr" ] );
                         });
		</script>
{% endblock javascripts %}
