{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <p>Project infos {{ project.name }}</p>
        </div><!--/span-->

        <div class="span9">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Release'|trans }}</th>
                        <th>{{ 'Status'|trans }}</th>
                        <th>{{ 'Start > End'|trans }}</th>
                        <th>{{ 'Stories'|trans }}</th>
                        <th>{{ 'Estimate'|trans }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sprint in sprints %}
                        <tr>
                            <td>{{ sprint.name }}</td>
                            <td>{{ sprint.release }}</td>
                            <td>{{ sprint.status }}</td>
                            <td>{{ sprint.start|date("d/m/Y") }} > {{ sprint.end|date("d/m/Y") }}</td>
                            <td>{{ sprint.stories }}</td>
                            <td>{{ sprint.estimate }}</td>
                            <td>
                                <a class="btn btn-mini btn-info" href="{{ path('sprint_show', { 'id': sprint.id }) }}"><i class="icon-eye-open icon-white"></i> {{ 'View'|trans }}</a>
                                <a class="btn btn-mini btn-primary" href="{{ path('sprint_edit', { 'id': sprint.id }) }}"><i class="icon-edit icon-white"></i> {{ 'Edit'|trans }}</a>
                                <a class="btn btn-mini btn-danger" href="{{ path('sprint_delete', { 'id': sprint.id }) }}"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</a>
                            </td>
                        </tr>
                    {% else  %}
                        <tr><td colspan="7">{{ 'No sprint'|trans }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}
