{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@NeblionScrumBundle/Resources/public/css/ui-lightness/jquery-ui-1.9.0.custom.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}   

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Sprint creation:'|trans }} {{ project.name }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        <p>{{ 'Current Release'|trans }}: {{ entity.projectRelease.name }}</p>
        <p>{{ 'Stories'|trans }}: {{count }} - Estimate: {{ estimate }}</p>
    </div><!--/span-->
    
    
    <div class="span9">
        <form action="{{ path('sprint_create', { 'id': project.id, 'story': lastStory }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Create'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('project_backlog', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
            </div>
        </form>
    </div><!--/span-->
</div><!--/row-->

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@NeblionScrumBundle/Resources/public/js/jquery-ui-1.9.0.custom.min.js'
        '@NeblionScrumBundle/Resources/public/js/i18n/jquery.ui.datepicker-fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            // Datepicker
            $.datepicker.setDefaults($.datepicker.regional[""]);
            $('.date-picker').datepicker( $.datepicker.regional[ "{{ app.request.locale }}" ] );
        });
    </script>
{% endblock javascripts %}