{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '%kernel.root_dir%/../vendor/cleonello/jqplot/jquery.jqplot.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %} 

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->
    
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navbar-sprint.html.twig' with { 'sprint': sprint, 'active': 'reports'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
           {% include 'NeblionScrumBundle:Sprint:partial-sprint-left-col.html.twig' with { 'sprint': sprint } %}
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
                <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Sprint reports'|trans }}</h5>
                </div>
                <div class="widget-content">
                    <div id="chartdiv" style="height:400px;width:600px; "></div>
                </div>
            </div><!--widget-box-->
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '%kernel.root_dir%/../vendor/cleonello/jqplot/jquery.jqplot.min.js'
        '%kernel.root_dir%/../vendor/cleonello/jqplot/plugins/jqplot.canvasTextRenderer.min.js'
        '%kernel.root_dir%/../vendor/cleonello/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js'
        '%kernel.root_dir%/../vendor/cleonello/jqplot/plugins/jqplot.dateAxisRenderer.min.js'
        '%kernel.root_dir%/../vendor/cleonello/jqplot/plugins/jqplot.highlighter.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
    $(function() {
        var burndown_hours  = [{{ strHours|raw }}];
        var burndown_ideal  = [['{{ sprint.start|date('Y-m-d') }}',{{ estimateInitialHours }}],['{{ sprint.end|date('Y-m-d') }}',0]];
        $.jqplot('chartdiv', [burndown_ideal, burndown_hours], {
            title: '{{ 'Burndown hours chart'|trans }}',
            series:[{label:'Ideal sprint'},{label:'Real sprint'}],
            legend: {
                show: true,
                placement: 'outsideGrid'
            },
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: { angle: -30 }
            },
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    tickOptions:{formatString:'%d/%m'},
                },
                yaxis: {
                    min: 0,
                }
            },
            highlighter: {
                show: true,
                sizeAdjust: 7.5
            },
        });
    });
    
    </script>
{% endblock javascripts %}