{% extends '::base.html.twig' %}

{% block stylesheets %}
     {{ parent() }}
     
    <style type="text/css">
        .story-box { 
            border: 1px solid black;
            padding: 3px; margin: 3px; 
        }
        
        .task-box { 
            border: 1px solid black;
            padding: 3px; margin: 3px;
        }
        /*
        .sprint-view-column {
            border-top: 3px solid #005580;
            border-right: 3px solid #005580;
            border-left: 3px solid #005580;
        }
        */
    </style>
{% endblock stylesheets %}

{% block body %}
    <div class="modal hide" id="myModal">
        <div id="modal-content"></div>
    </div>
    
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'sprints'} %}
    </div><!--/row-->
    
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navbar-sprint.html.twig' with { 'sprint': sprint, 'active': 'taskboard'} %}
    </div><!--/row-->
    
    <div class="row">
        <div class="span3">
            {{ 'Story estimate'|trans }}: {{ sprintInfos.estimate.done }} / {{ sprintInfos.estimate.done + sprintInfos.estimate.todo }}
        </div>
        <div class="span9">
            <div class="progress progress-striped">
                <div class="bar"
                    style="width: {{ (sprintInfos.estimate.done / (sprintInfos.estimate.done + sprintInfos.estimate.todo))*100 }}%;"></div>
            </div>
        </div>
    </div><!--/row-->
    <div class="row">
        <div class="span3">
            {{ 'Remaining hours'|trans }}: <span id="total-hours-remaining">{{ sprintInfos.hours }}</span> / XXXX
        </div>
        <div class="span9">
            <div class="progress progress-striped">
                <div class="bar"
                    style="width: {{ (sprintInfos.estimate.done / (sprintInfos.estimate.done + sprintInfos.estimate.todo))*100 }}%;"></div>
            </div>
        </div>
    </div><!--/row-->  

    <div class="row">
        <div class="span3 sprint-view-column"><h3>{{ 'Story'|trans }}</h3></div>
        <div class="span3 sprint-view-column"><h3>{{ 'ToDo'|trans }}</h3></div>
        <div class="span3 sprint-view-column"><h3>{{ 'In Progress'|trans }}</h3></div>
        <div class="span3 sprint-view-column"><h3>{{ 'Done'|trans }}</h3></div>
    </div><!--/row-->

    {% for story in storyAndTasksByStatus %}
        <div id="sprint-story-row-{{ story.id }}" class="row-fluid sprint-story-row" style="border: 1px solid black; margin-bottom: 3px;">
            {% include 'NeblionScrumBundle:Story:sprint-story-row-partial.html.twig' with { 'story': story, 'sprint': sprint } %}
        </div><!--/row-->
    {% endfor %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
        $("a[rel=popover]").popover();
        
        $("a.task-hours").live("click", function() {
            var task_id     = $(this).attr('id').replace('task-hours-upd-', '');
            var url         = $(this).attr('href');    
        
            $.ajax({
                url: url,
                success: function(data){
                    //$(data).insertAfter("#task-hours-upd-" + task_id);
                    $("#modal-content").html(data);
                    $('#myModal').modal('toggle')
                }
            });
        
            return false;
        });
        
        $("a.story-add-task").live("click", function() {
            //var task_id     = $(this).attr('id').replace('task-hours-upd-', '');
            var url         = $(this).attr('href');    
        
            $.ajax({
                url: url,
                success: function(data){
                    //$(data).insertAfter("#task-hours-upd-" + task_id);
                    $("#modal-content").html(data);
                    $('#myModal').modal('toggle')
                }
            });
        
            return false;
        });
        
        $("#modal-submit-form").live("click", function() {
            var form = $("#modal-form");
        
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function(data){
                    $("#modal-content").html(data);
                }
            });
        
            return false;
        });
    </script>
{% endblock javascripts %}
    
