<div class="tabbable">
    <ul class="nav nav-tabs">
        <li{% if active == 'dashboard' %} class="active"{% endif %}><a href="{{ path('project_show', { 'id': project.id }) }}"><strong>{{ project.name }}</strong> {{ 'Dashboard'|trans }}</a></li>
        <li{% if active == 'backlog' %} class="active"{% endif %}><a href="{{ path ('neblion_scrum_backlog', { 'id': project.id }) }}">{{ 'Backlog'|trans }}</a></li>
        <li{% if active == 'sprints' %} class="active"{% endif %}><a href="{{ path('sprint_list', { 'id': project.id }) }}">{{ 'Sprints'|trans }}</a></li>
        <li{% if active == 'admin' %} class="active"{% endif %}><a href="{{ path('project_edit', { 'id': project.id }) }}">{{ 'Admin'|trans }}</a></li>
    </ul><!-- /.nav-tabs -->
</div><!--/.tabbable -->