{% extends 'NeblionScrumBundle:Layout:base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>{{ 'Story deletion'|trans }}</h1>
</div>

<div class="row-fluid">
    <div class="span3">
        {% include 'NeblionScrumBundle:Project:menu.html.twig' with {'project': project} %}
    </div><!--/span-->
    
    <div class="span9">
        <div class="alert alert-danger">{{ 'Do you really want to delete this story: %story% ?'|trans({ '%story%': story.name }) }}</div>
        <form action="{{ path('story_delete', { 'id': story.id }) }}" method="post">
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('neblion_scrum_backlog', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'No'|trans }}</a>
            </div>
        </form>
    </div><!--/span-->
</div><!--/row-->

{% endblock body %}



