{% extends '::base.html.twig' %}

{% form_theme form 'NeblionScrumBundle:Form:fields.html.twig' %}
{% form_theme commentForm 'NeblionScrumBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
       {% include 'NeblionScrumBundle:Layout:navtabs.html.twig' with { 'project': project, 'active': 'backlog'} %}
    </div><!--/row-->

    <div class="row">
        <div class="span3">
            <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Project description'|trans }}</h5>
               </div>
               <div class="widget-content">
                   <p>{{ project.description }}</p>
               </div>
           </div>
                
           <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-info-sign"></i></span>
                   <h5>{{ 'Informations'|trans }}</h5>
               </div>
               <div class="widget-content">
                   <p>Aide</p>
               </div>
           </div>
        </div><!--/span-->

        <div class="span9">
            <div class="widget-box">
               <div class="widget-title">
                   <span class="icon"><i class="icon-file"></i></span>
                   <h5>{{ 'Story edition'|trans }}</h5>
               </div>
               <div class="widget-content">
                    <form action="{{ path('story_update', { 'id': story.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-warning"><i class="icon-edit icon-white"></i> {{ 'Update'|trans }}</button>
                            {% if story.sprint is null %}
                                <a class="btn btn-primary" href="{{ path('project_backlog', {'id': project.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ path('sprint_show', {'id': story.sprint.id}) }}"><i class="icon-repeat icon-white"></i> {{ 'Cancel'|trans }}</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div><!--/widget-box-->
            
            <div class="page-header"><h3>{{ 'Comments'|trans }}</h3></div>
            
            {% for comment in comments %}
                <div class="row">
                    <div class="span1"><img src="{{ gravatar(comment.member.account.email, 50) }}" alt="" /></div>
                    <div class="span8">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-file"></i></span>
                                <h5>{{ comment.member.account.username }} - {{ comment.updated|date('d/m/Y') }}</h5>
                            </div>
                            <div class="widget-content">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div><!--/widget-box-->
                    </div>
                </div>
            {% endfor %}
            
            <div class="row">
                <div class="span1"><img src="{{ gravatar(app.user.email, 50) }}" alt="" /></div>
                <div class="span8">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-file"></i></span>
                            <h5>{{ 'Story add comment'|trans }}</h5>
                        </div>
                        <div class="widget-content">
                            <form action="{{ path('storycomment_create', { 'id': story.id }) }}" method="post" {{ form_enctype(commentForm) }} class="form-horizontal">
                                {{ form_widget(commentForm) }}
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Add comment'|trans }}</button>
                                </div>
                            </form>
                        </div>
                    </div><!--/widget-box-->
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock body %}
